body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#icon {
    width: 62px;
}

#links {
    padding-right: 10px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noticias {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(46, 46, 46);
    padding: 6px;
    margin: 40px;
    border-radius: 40px;

}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 4px solid rgb(0, 0, 0);
}

.img_noticia {
    width: 300px;
    height: 200px;
}

footer {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.barra-sticky {
    position: sticky;
    top: 0px;
    background-color: rgb(99, 0, 0);
    color: rgb(255, 255, 255);
    padding: 12px;
    font-weight: bold;
    text-align: center;
    border-bottom: 4px solid rgb(88, 0, 0);
}

.posicao{
    margin: 40px;
    padding: 20px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}


.jogador {
    width: 50px;
    align-items: center;
}

.jogador img {
    width: 100%;
}

.flex {
    display: flex;
}

.escalacao {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.mascotevasco-fixado{
    position: fixed;
    bottom: 10px;
    right: 10;
    width: 200px;
}